[x-cloak] { display: none !important; }

.menuitems-top {
    padding-left: 0.8rem;
    padding-right: 0.8rem;    
}

h2 {
    font-size: 1.7rem;
}

.hidden {
    display:none !important;
}
.img-thumbnail {
    background-color: inherit;
}
.viewer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height:100%;
}

.dygraph-axis-label {
    color: white !important;
}

.dygraph-legend {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    pointer-events: none;
}
.dygraph-legend > span {
    display: block;
}

.right-viewport {
    right: .5rem;
}

.bottom-viewport {
    bottom: .5rem;
}

.left-viewport {
    left: .5rem;
}

.top-viewport {
    top: .5rem;
}

.absolute {
    position: absolute;
}

.center-viewport {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-pointer-events {
    pointer-events: none;
}

.all-pointer-events {
    pointer-events: auto;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-fill {
    grid-area: 1 / 1 / 2 / 2;
}

.grid {
    display:grid; 
    overflow-x: hidden; 
    height:calc(100vh - 6rem); 
    grid-template-rows: 0fr 1fr 0.9fr; 
    grid-template-columns: 1.0fr 2.0fr 0.5fr; 
    gap: 0.5em; 
    grid-template-areas: 
    "c c g"
    "e e g"
    "d f g";
}
   
.toolbar-area {
    grid-area: c;
    display: flex;
    align-items: center; 
}
  
  /* .subitem {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
  } 
       */

/* Fix for bug in MDBootstrap dark mode, affecting input boxes */
.form-outline .form-control~.form-notch div {
    border-top-color: #bdbdbd;
    border-bottom-color: #bdbdbd;
}

.select-wrapper {
    display: grid;
    grid-template-areas: "select";
}

.select-wrapper::after {
    content: "";
    justify-self: end;
    margin: 1em 1em 1em 1em;
    width: 0.8em;
    height: 0.8em;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select,.select-wrapper::after {
    grid-area: select;
}
.select-wrapper > .form-control {
    background-color: rgb(48, 48, 48);
    margin-right: 1.5em;
}

#casetable > thead > tr > th {
    color: #FFF;
    font-weight: 900;
    background-color: #424242;
}
#casetable_length > label > select {
    background-color: transparent;
    color: #fff;
}
#casetable_length > label > select option {
    background-color: #262626;
    color: white;
}

.browserbuttons button
{
    background-color: transparent;
    box-shadow: none;
    color: #1266f1;
    font-size: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: none;
    min-width: 3.0rem;
}

.browserbuttons button:hover
{
    background-color: #1266f1;
    box-shadow: none;
    border-radius: 4px !important;
    transition: none;
}

.browserbuttons button:disabled
{
    color: #575757;
    background-color: transparent;
}

.browserbuttons button:focus
{
    color: #1266f1;
    background-color: transparent;
}

/* 
.browserbuttons button:active
{
    border: 2px solid yellow;
} */

.browserbuttons .btn-group, .browserbuttons .btn-group:hover {
    box-shadow: none;
}

.browsertoolbar {
    margin-bottom: 4px;
}

#casetable.table>:not(caption) > * > * {
    padding: 0.7rem 1.4rem !important;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
  
button {
    border-style: none;
    /* border-width: 1px; */
}

button:focus:not(:focus-visible) {
    box-shadow: none;
}

::selection {
    color: none;
    background: none;
}

.navbar_patient_info:hover {
    color: #FFF!important;
    background-color: #1266f1!important;
}

.navbar_case_list.active {
    color: #FFF!important;
    background-color: #1266f1!important;
}
 
.btn-viewer {
    border-radius: 3px;
    min-width: 32px;
}


::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  /* background-color: #0a0a0a; */
}

::-webkit-scrollbar-thumb {
  background: hsla(0,0%,100%,.55);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFF;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.btn-viewer-toolbar {
  font-size: 1rem;
  line-height: 1.0!important;
}

.ripple-wave {
    background: none!important;
}

/* Disable animations. */
 .animation {
    -webkit-transition-duration: 0s!important;
    transition-duration: 0s!important;
    -webkit-animation-duration:0s!important;
    animation-duration:0s!important
} 

.curve-settings-select {
    background-color: #000;
    color: hsla(0,0%,100%,.55);
    width: 120px;
}
