[x-cloak] { display: none !important; }

.menuitems-top {
    padding-left: 0.8rem;
    padding-right: 0.8rem;    
}

h2 {
    font-size: 1.7rem;
}

.hidden {
    display:none !important;
}

.right-viewport {
    right: .5rem;
}
.bottom-viewport {
    bottom: .5rem;
}
.left-viewport {
    left: .5rem;
}
.top-viewport {
    top: .5rem;
}
.absolute {
    position: absolute;
}
.center-viewport {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer-events-none {
    pointer-events: none;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.grid-fill {
    grid-area: 1 / 1 / 2 / 2;
}
/* Fix for bug in MDBootstrap dark mode, affecting input boxes */
.form-outline .form-control~.form-notch div {
    border-top-color: #bdbdbd;
    border-bottom-color: #bdbdbd;
}

.select-wrapper {
    display: grid;
    grid-template-areas: "select";
}

.select-wrapper::after {
    content: "";
    justify-self: end;
    margin: 1em 1em 1em 1em;
    width: 0.8em;
    height: 0.8em;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select,.select-wrapper::after {
    grid-area: select;
}

.select-wrapper > .form-control {
    background-color: rgb(48, 48, 48);
}

#casetable > thead > tr > th {
    color: #FFF;
    font-weight: 900;
    background-color: #424242;
}

#casetable_length > label > select {
    background-color: transparent;
    color: #fff;
}

#casetable_length > label > select option {
    background-color: #262626;
    color: white;
}

.browserbuttons button
{
    background-color: transparent;
    box-shadow: none;
    color: #1266f1;
    font-size: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: none;
    min-width: 3.0rem;
}

.browserbuttons button:hover
{
    background-color: #1266f1;
    box-shadow: none;
    border-radius: 4px !important;
    transition: none;
}

.browserbuttons .btn-group, .browserbuttons .btn-group:hover {
    box-shadow: none;
}

.browsertoolbar {
    margin-bottom: 4px;
}

#casetable.table>:not(caption) > * > * {
    padding: 0.7rem 1.4rem !important;
}
