{% extends 'portal.html' %}

{% block content %}
<script type="module">
    import {  doFetch } from "/static/js/utils.js"

    function parse_json_element(el) {
      return JSON.parse(document.getElementById(el).textContent)
    };
    document.addEventListener("alpine:init", () => {
      Alpine.data("browser", () => ({
        listings: [],
        path: "",
        navigating: false,
        mode: "navigator",
        init: async function() {
            this.navigate()
        },
        navigate: async function(location="") {
            if (this.navigating) return;
            this.navigating = true;
            this.path = location;
            const result = (await doFetch(`/api/filebrowser/list${encodeURIComponent(location)}`))
            this.listings = result.listing;
            this.up_path = result.up_path;
            this.navigating = false;
        },
        nav_up: async function() {
            this.navigate(this.up_path);
        },
        select_case: async function() {
            const result = (await doFetch(`/api/filebrowser/case_directory${encodeURIComponent(this.path)}`));
            const case_info = result.case_info;
            this.mode = 'case_selected';
            await this.$nextTick();
            document.getElementById('id_patient_name').value = case_info.patient_name;
            document.getElementById('id_mrn').value = case_info.patient_id;
            document.getElementById('id_acc').value = case_info.accession;
            document.getElementById('id_study_description').value = case_info.study_description;
            await this.$nextTick();
            document.querySelectorAll('.form-outline').forEach(x => new mdb.Input(x).init());
        }
      }));
    });
</script>  

<div x-data="browser" style="margin-left: 10em; margin-right: 10em;">
    <template x-if="mode == 'case_selected'">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            {% if field.field.widget.input_type != "select" %}
                <div class="input-group form-outline mb-3">
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{field.name}}" {% if field.field.disabled %}disabled{%endif%} autocomplete="off">
                    <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                    {% comment %} <div class="form-notch"><div class="form-notch-leading" style="width: 42px;"></div><div class="form-notch-middle" style="width: 59.2px;"></div><div class="form-notch-trailing"></div></div> {% endcomment %}
                </div>
            {% else %}
            <div class="select-wrapper">
                <select class="form-control">
                <option value="" disabled>{{field.name | capfirst}}</option>
                {% for choice in field.field.choices %}
                    <option value="{{choice}}">{{choice}}</option>
                {% endfor %}
                </select>
            </div>
        
            {% endif %}
            {% endfor %}
            <input class="btn-primary btn-large btn-viewer" type="submit" value="Submit">
            <button class="btn-primary btn-large btn-viewer" @click="mode = 'navigator'">Back</button>
        </form>
        
    </template>
    <template x-if="mode == 'navigator'">
        <div>
        <h2 x-text="path" style="word-break: break-all"></h2>
        <button class="btn-primary btn-large btn-viewer" @click="nav_up">Up</button>
        <div style="overflow-y: auto; height: 50vh;">
            <template x-for="l of listings">
                <div x-text="l.name" @click="if (l.is_dir) navigate('/'+l.location)"></h1>
            </template>
        </div>
        <button class="btn-primary btn-large btn-viewer" @click="select_case">Select Case</button>
        </div>
    </template>
</div>

{% endblock %}