{% extends 'portal.html' %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;Case Browser</h2>
    </div>
</div>
<div>
    <div class="row mt-2">
        <div class="col">
            <div id="tablewrapper" style="display: none;">
                <table id="casetable" class="table table-dark table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="display:none;">ID</th>
                            <th>Patient</th>
                            <th>MRN</th>
                            <th>ACC</th>
                            <th>Spokes</th>
                            <th>Type</th>
                            <th>Exam Time</th>
                            <th>Received</th>
                            <th>Status</th>
                            <th>Reader</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td style="display:none;">{{ item.case_id }}</td>
                            <td>{{ item.patient_name }}</td>
                            <td>{{ item.mrn }}</td>
                            <td>{{ item.acc }}</td>
                            <td>{{ item.num_spokes }}</td>
                            <td>{{ item.case_type }}</td>
                            <td>{{ item.exam_time }}</td>
                            <td>{{ item.receive_time }}</td>
                            {% if item.status == 'Received' %}
                                <td><span class="badge bg-secondary">{{ item.status }}</span></td>
                            {% elif item.status == 'Queued' %}
                                <td><span class="badge bg-primary">{{ item.status }}</span></td>
                            {% elif item.status == 'Processing' %}
                                <td><span class="badge bg-light text-dark">{{ item.status }}</span></td>
                            {% elif item.status == 'Ready' %}
                                <td><span class="badge bg-info text-dark">{{ item.status }}</span></td>
                            {% elif item.status == 'Viewing' %}
                                <td><span class="badge bg-warning text-dark">{{ item.status }}</span></td>
                            {% elif item.status == 'Complete' %}
                                <td><span class="badge bg-success">{{ item.status }}</span></td>
                            {% elif item.status == 'Archived' %}
                                <td><span class="badge bg-dark">{{ item.status }}</span></td>
                            {% elif item.status == 'Error' %}
                                <td><span class="badge bg-danger">{{ item.status }}</span></td>
                            {% elif item.status == 'Delete' %}
                                <td><span class="badge bg-danger">{{ item.status }}</span></td>
                            {% endif %}
                            <td>{{ item.viewed_by_id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Case Info</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>Patient Name:</td>
                        <td><span id="case_details_patient_name">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>MRN:</td>
                        <td><span id="case_details_mrn">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>ACC:</td>
                        <td><span id="case_details_acc">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Number of Spokes:</td>
                        <td><span id="case_details_num_spokes">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Case Type:</td>
                        <td><span id="case_details_case_type">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Exam Time:</td>
                        <td><span id="case_details_exam_time">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Receive Time:</td>
                        <td><span id="case_details_receive_time">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td><span id="case_details_status">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Twix ID:</td>
                        <td><span id="case_details_twix_id">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Case Location:</td>
                        <td><span id="case_details_case_location">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Viewed by ID:</td>
                        <td><span id="case_details_viewed_by_id">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Last Read by ID:</td>
                        <td><span id="case_details_last_read_by_id">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Settings:</td>
                        <td><span id="case_details_settings">&nbsp;</span></td>
                    </tr>
                </tbody>
                </table>         
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css" crossorigin />
{% endblock %}

{% block addedscripts %}
<!--script src="/static/js/jquery-3.5.1.min.js" crossorigin></script-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin></script>
<script type="text/javascript" src="/static/js/datatables.min.js" crossorigin></script>
{{ data|json_script:"cases_data" }}
<script>
    
    $(document).ready(function () {
               
        var case_data_table = $('#casetable').DataTable({
           
            dom: "<'row browsertoolbar align-items-end'<'col-sm-12 col-md-6 browserbuttons'B><'col-sm-12 col-md-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
            select: {
                style: 'single'
            },
            filter: true,
            buttons: [
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-folder-open"></i>',
                    titleAttr: 'Open case',
                    action: function (e, dt, node, config) {
                        const row = case_data_table.row( {selected: true});
                        const case_id = row.data()[0];
                        const link = '/viewer/'+case_id
                        window.open(link);
                    }
                },
                {
                    text: '<i class="fas fa-lock-open"></i>',
                    titleAttr: 'Unlock case',
                    action: function (e, dt, node, config) {
                        alert("Coming soon!");
                    }
                },
                {
                    extend: "selectedSingle",
                    text: '<i class="fa-solid fa-tags"></i>',
                    titleAttr: 'Case information',
                    action: function (e, dt, node, config) {
                        const row = case_data_table.row( {selected: true});
                        const case_id = row.data()[0];
                        const d = JSON.parse(document.getElementById('cases_data').textContent);                         
                        const c = d.filter((el) => el.case_id === case_id)[0];    
                        document.getElementById("case_details_patient_name").innerText = c.patient_name;
                        document.getElementById("case_details_mrn").innerText = c.mrn;
                        document.getElementById("case_details_acc").innerText = c.acc;
                        document.getElementById("case_details_num_spokes").innerText = c.num_spokes;
                        document.getElementById("case_details_case_type").innerText = c.case_type;
                        document.getElementById("case_details_exam_time").innerText = c.exam_type;
                        document.getElementById("case_details_receive_time").innerText = c.receive_time;
                        document.getElementById("case_details_status").innerText = c.status;
                        document.getElementById("case_details_twix_id").innerText = c.twix_id;
                        document.getElementById("case_details_case_location").innerText = c.case_location;
                        document.getElementById("case_details_viewed_by_id").innerText = c.viewed_by_id;
                        document.getElementById("case_details_last_read_by_id").innerText = c.last_read_by_id;
                        document.getElementById("case_details_settings").innerText = JSON.stringify(c.settings, null, 4);
                        
                        const myModalEl = document.getElementById('modal');
                        const modal = new mdb.Modal(myModalEl);
                        modal.show();
                    }
                },
                {% if user.is_staff %}
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-trash"></i>',
                    titleAttr: 'Remove case',
                    action: function (e, dt, node, config) {
                        
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "Do you really want to delete the case?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                            if (result.isConfirmed) {
                                
                                const row = case_data_table.row( {selected: true});
                                const case_id = row.data()[0];   
                                fetch('/cases/', {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    },
                                    body: JSON.stringify({ "case_id": case_id })
                                })
                                .then(response => response.json())
                                .then(response => {
                                    // window.alert(JSON.stringify(response));
                                    Swal.fire(
                                    'Deleted!',
                                    'The case has been deleted.',
                                    'success'
                                    ).then((result) => {
                                        window.location.reload();
                                    })
                                })
                            }
                        })
                    }
                },
                {% endif %}
                {
                    extend: 'spacer',
                    style: 'empty'
                },
                {
                    extend: 'spacer',
                    style: 'empty'
                },
                {
                    text: '<i class="fa-solid fa-upload"></i>',
                    titleAttr: 'Upload case',
                    action: function (e, dt, node, config) {
                        alert("Coming soon!");
                    }
                },
                {
                    text: '<i class="fa-solid fa-floppy-disk"></i>',
                    titleAttr: 'Download case',
                    action: function (e, dt, node, config) {
                        alert("Coming soon!");
                    }
                },
            ],
            // data: {{ data| safe }},
            "initComplete": () => { 
                $("#tablewrapper").show();}
        });

        $('#casetable tbody').on( 'dblclick', 'tr', function () {
            const tr = $(this).closest('tr');
            const row = case_data_table.row(tr);
            const case_id = row.data()[0];
            const link = '/viewer/'+case_id
            window.open(link);
        });

        
        $('#casetable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                case_data_table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
        
    } );
    
</script>

{% endblock %}

