{% extends 'portal.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/external/datatables.min.css" crossorigin />
<link href="/static/css/external/select2@4.1.0-rc.0.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="ms-2 me-2">
    <div class="row mb-3 mt-2">
        <div class="col">
            <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;Case Browser</h2>
        </div>
    </div>
    <div>
        <div class="row mt-2" style="margin-bottom: 3rem;">
            <div class="col">
                <div id="tablewrapper" style="display: none;">
                    <table id="casetable" class="table table-dark table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Patient</th>
                                <th>MRN</th>
                                <th>ACC</th>
                                <th>Exam Time</th>
                                <th>Spokes</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Reader</th>
                                <th>Tags</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="fixed-bottom bg-dark text-center text-lg-start text-muted">
{% include "disk_usage.html" %}
</footer>

{% include "modal_case_information.html" %}
{% endblock %}

{% block addedscripts %}
<script type="text/javascript" src="/static/js/external/datatables.min.js"></script>
<script src="/static/js/external/select2@4.1.0-rc.0.min.js"></script>
<script type="text/javascript" src="/static/js/external/order.neutral().js"></script>

{% include "modal_case_tags.html" %}

<script>       
    const user_is_staff = {{user.is_staff|lower}};
    const username = "{{user.username}}";
    $(document).ready(function () {               
        var case_data_table = $('#casetable').DataTable({           
            dom: "<'row browsertoolbar align-items-end'<'col-sm-12 col-md-7 browserbuttons'B><'col-sm-12 col-md-2'><'col-sm-12 col-md-3'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row browserfooterbar'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
            ajax: "/api/cases",
            deferRender: true,
            columns: [
                { data: 'case_id', visible: false },
                { data: 'patient_name' },
                { data: 'mrn' },
                { data: 'acc' },
                { data: 'exam_time' },
                { data: 'num_spokes' },
                { data: 'case_type' },
                { data: 'status',
                  render: function (data, type, row) {
                        // Custom field rendering for the status field
                        switch(data) {
                        case 'Received':
                            return '<span class="badge bg-secondary">'+data+'</span>';
                            break;
                        case 'Queued':
                            return '<span class="badge bg-primary">'+data+'</span>';
                            break;
                        case 'Processing':
                            return '<span class="badge bg-light text-dark">'+data+'</span>';
                            break;
                        case 'Ready':
                            return '<span class="badge bg-info text-dark">'+data+'</span>';
                            break;
                        case 'Viewing':
                            if (row["last_read_by_id"] == "{{user.username}}")
                                return '<span class="badge text-dark" style="background-color: #00ff89;">'+data+'</span>';
                            return '<span class="badge bg-warning text-dark">'+data+'</span>';
                            break;
                        case 'Complete':
                            return '<span class="badge" style="background-color: #198754;">'+data+'</span>';
                            break;
                        case 'Archived':
                            return '<span class="badge bg-dark">'+data+'</span>';
                            break;
                        case 'Error':
                            return '<span class="badge bg-danger">'+data+'</span>';
                            break;
                        case 'Delete':
                            return '<span class="badge bg-danger">'+data+'</span>';
                            break;
                        default:
                            return '<span class="badge">'+data+'</span>';
                            break;
                        }                    
                    },            
                },
                { data: 'last_read_by_id' },
                {
                    data: 'tags',
                    render: function (data, type, row) {
                        // Custom field rendering for tags
                        html_element = '';
                        for (const tag of data) {
                            html_element = html_element + '<span class="badge rounded-pill border border-1 text-light me-2" style="border-color: #FFF!important; background-color:hsla(0,0%,100%,.2)!important;">'+tag+'</span>';
                        }
                        return html_element;
                    }                    
                },                                    
            ], 
            select: {
                style: 'os'
            },
            language: {
                "emptyTable": "No cases available on server."
            },
            filter: true,
            buttons: [
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-folder-open"></i>',
                    titleAttr: 'Open case',
                    key: "\r",
                    action: function (e, dt, node, config) {
                        const selected_row = case_data_table.row({selected: true}).data();
                        openCase(selected_row.case_id, selected_row.status, selected_row.last_read_by_id);
                    }
                },
                {
                    extend: "selected",
                    text: '<i class="fas fa-lock-open"></i>',
                    titleAttr: 'Set case status',
                    action: async function (e, dt, node, config) {
                        const selected_rows = case_data_table.rows({selected: true}).data();
                        for (let i=0; i<selected_rows.length; i++)  {
                            if ( selected_rows[i].last_read_by_id != username ) {
                                console.warn(selected_rows[i],username)
                                await errorPrompt("You must be the current reader of a case to edit it.");
                                return
                            } 
                        }
                        await closeCases(selected_rows);
                        case_data_table.ajax.reload(null, false);
                    }
                },
                ...(user_is_staff? [
                {
                    extend: "selectedSingle",
                    text: '<i class="fa-solid fa-cogs"></i>',
                    titleAttr: 'Reprocess case',
                    action: async function (e, dt, node, config) {
                        const case_id = case_data_table.row({selected: true}).data().case_id;
                        const { isConfirmed } = await confirmPrompt("Reprocess selected case?")
                        if (!isConfirmed) {
                            return;
                        }
                        try {
                            await doFetch(`/api/case/${case_id}/reprocess`);
                        } catch (e) {
                            await errorPrompt(`Unable to reprocess case: ${e}`);
                            return;
                        }
                        setTimeout(()=> case_data_table.ajax.reload(null, false), 1500);
                        await successToast("The case will be reprocessed.");
                    }
                },
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-trash"></i>',
                    titleAttr: 'Remove case',
                    action: async function (e, dt, node, config) {
                        const case_id = case_data_table.row({selected: true}).data().case_id;
                        const selected_row = case_data_table.row({selected: true}).data();
                        if (!canDeleteCase(selected_row.status, selected_row.last_read_by_id)) {
                            await infoPrompt("Case is locked and cannot be deleted now.", "Locked");
                            return;
                        }
                        const result = await confirmPrompt("Do you really want to delete the case?", "Are you sure?", async () => {
                            try {
                                await doFetch(`/api/case/${case_id}/delete`);
                                await successToast("The case has been deleted.");
                                setTimeout(()=> case_data_table.ajax.reload(null,false), 1500);
                            } catch (e) {
                                Swal.showValidationMessage("A problem occurred while deleting the case. Please try again.")
                            }
                        })
                    }
                }]:[]),
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-list-alt"></i>',
                    titleAttr: 'Case information',
                    action: function (e, dt, node, config) {
                        const case_id = case_data_table.row({selected: true}).data().case_id;
                        showCaseInformation(case_id);                        
                    }
                },                
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-tags"></i>',
                    titleAttr: 'Tag case',
                    action: function (e, dt, node, config) {
                        const selected_row = case_data_table.row({selected: true}).data();
                        const case_id = selected_row.case_id;
                        showTagsDialog(case_id);
                    }
                },
                {
                    text: '<i class="fa-solid fa-sync"></i>',
                    titleAttr: 'Refresh',
                    action: function (e, dt, node, config) {
                        case_data_table.ajax.reload(null, false);
                    }
                },         
                {
                    text: '<i class="fa-solid fa-sort"></i>',
                    titleAttr: 'Reset sort',
                    action: function (e, dt, node, config) {
                        case_data_table.order.neutral().draw();
                    }
                },
                {
                    extend: 'spacer',
                    style: 'empty'
                },
                {
                    extend: 'spacer',
                    style: 'empty'
                },                                
                {
                    text: '<i class="fa-solid fa-upload"></i>',
                    titleAttr: 'Import Case',
                    action: function (e, dt, node, config) {
                        window.open("/filebrowser/", "_self");  
                    }
                },                
            ],
            order: [[0, 'desc']],
            initComplete: () => {             
                $("#tablewrapper").show();
            }
        });
        
        $('#casetable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                case_data_table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );        
    } );

    function openCase(case_id, status, last_read_by_id) {
        if (["Viewing","Ready","Complete"].includes(status) || user_is_staff) {
            window.open(`/viewer/${case_id}`, "_self");
        } else {
            infoPrompt("Case is not ready for viewing.", "Locked");
        }  
    }

    async function closeCases(cases) {
        for (let i=0; i<cases.length; i++) {
            if (!["Viewing","Ready","Complete"].includes(cases[i].status)) {
                await errorPrompt("One of these cases is not currently opened.");
                return;
            }
        }
        await Swal.fire({
            title: `Set case${cases.length>1? 's' : ''} status?`,
            // text: ".",
            icon: "question",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Set to Ready",
            denyButtonText: "Set to Complete",
            cancelButtonText: "Cancel",      
            confirmButtonColor: "#1266f1",
            denyButtonColor: "#198754",
            cancelButtonColor: "#d33",
            showLoaderOnConfirm: true,
            preConfirm: handler(true),
            preDeny: handler(false)
        })

        function handler(confirmed) {
            return (async () => {
            try {
                for (let i=0; i<cases.length; i++) {
                    targetURL = `/api/case/${cases[i].id}/status/${confirmed? 'ready' : 'complete'}`;
                    await doFetch(targetURL);
                }
            } catch (e) {
                console.warn(e)
                Swal.showValidationMessage("Unable to close case. Check logs.")
            }
        })}

    }

    function canDeleteCase(status, last_read_by_id) {
        if (["Ready","Complete"].includes(status)) {
            return true;
        }
        if (user_is_staff) {
            if (["Processing", "Error"].includes(status)) {
                return true;
            }
            return false;
        }
        if (status == "Viewing") {
            if (last_read_by_id == "{{user.username}}") {
                return true;
            } else {
                return false;
            }                
        }

        if (["Received", "Queued", "Processing"].includes(status)) {
            return false;
        }
        
        // In other states, changing case status currently not supported        
        return false;
    }    
</script>

{% endblock %}
