{% extends 'portal.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css" crossorigin />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;Case Browser</h2>
    </div>
</div>
<div>
    <div class="row mt-2">
        <div class="col">
            <div id="tablewrapper" style="display: none;">
                <table id="casetable" class="table table-dark table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Patient</th>
                            <th>MRN</th>
                            <th>ACC</th>
                            <th>Spokes</th>
                            <th>Type</th>
                            <th>Exam Time</th>
                            <th>Received</th>
                            <th>Status</th>
                            <th>Reader</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include "case_information_modal.html" %}
{% endblock %}

{% block addedscripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin></script>
<script type="text/javascript" src="/static/js/datatables.min.js" crossorigin></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" crossorigin></script>
<script>
    
    $(document).ready(function () {
               
        var case_data_table = $('#casetable').DataTable({
           
            dom: "<'row browsertoolbar align-items-end'<'col-sm-12 col-md-6 browserbuttons'B><'col-sm-12 col-md-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
            ajax: "/browser/get_cases_all",
            deferRender: true,
            columns: [
                { data: 'case_id', visible: false },
                { data: 'patient_name' },
                { data: 'mrn' },
                { data: 'acc' },
                { data: 'num_spokes' },
                { data: 'case_type' },
                { data: 'exam_time' },
                { data: 'receive_time' },
                { data: 'status',
                  render: function (data, type, row) {
                        // Custom field rendering for the status field
                        switch(data) {
                        case 'Received':
                            return '<span class="badge bg-secondary">'+data+'</span>';
                            break;
                        case 'Queued':
                            return '<span class="badge bg-primary">'+data+'</span>';
                            break;
                        case 'Processing':
                            return '<span class="badge bg-light text-dark">'+data+'</span>';
                            break;
                        case 'Ready':
                            return '<span class="badge bg-info text-dark">'+data+'</span>';
                            break;
                        case 'Viewing':
                            return '<span class="badge bg-warning text-dark">'+data+'</span>';
                            break;
                        case 'Complete':
                            return '<span class="badge bg-success">'+data+'</span>';
                            break;
                        case 'Archived':
                            return '<span class="badge bg-dark">'+data+'</span>';
                            break;
                        case 'Error':
                            return '<span class="badge bg-danger">'+data+'</span>';
                            break;
                        case 'Delete':
                            return '<span class="badge bg-danger">'+data+'</span>';
                            break;
                        default:
                            return '<span class="badge">'+data+'</span>';
                            break;
                        }                    
                    },            
                },
                { data: 'last_read_by_id' },
                {
                    data: 'tags',
                    render: function (data, type, row) {
                        // Custom field rendering for tags
                        html_element = '';
                        for (const tag of data) {
                            html_element = html_element + '<span class="badge rounded-pill bg-light text-dark">'+tag+'</span><br>';
                        }
                        return html_element;
                    }                    
                },            
                        
            ], 
            select: {
                style: 'single'
            },
            language: {
                "emptyTable": "No cases available on server."
            },
            filter: true,
            buttons: [
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-folder-open"></i>',
                    titleAttr: 'Open case',
                    action: function (e, dt, node, config) {
                        const selected_row = case_data_table.row({selected: true}).data();
                        const case_id = selected_row.case_id;
                        const link = '/viewer/'+case_id
                        window.open(link, "_self");
                    }
                },
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-lock-open"></i>',
                    titleAttr: 'Unlock case',
                    action: function (e, dt, node, config) {
                        alert("Coming soon!");
                    }
                },
                {% if user.is_staff %}
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-trash"></i>',
                    titleAttr: 'Remove case',
                    action: function (e, dt, node, config) {
                        
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "Do you really want to delete the case?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                            if (result.isConfirmed) {                                
                                const selected_row = case_data_table.row({selected: true}).data();
                                const case_id = selected_row.case_id;
                                fetch('/cases/', {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    },
                                    body: JSON.stringify({ "case_id": case_id })
                                })
                                .then(response => response.json())
                                .then(response => {
                                    Swal.fire(
                                        'Deleted!',
                                        'The case has been deleted.',
                                        'success'
                                    ).then((result) => {
                                        window.location.reload();
                                    })
                                })
                            }
                        })
                    }
                },
                {
                    extend: "selectedSingle",
                    text: '<i class="fas fa-list-alt"></i>',
                    titleAttr: 'Case information',
                    action: function (e, dt, node, config) {
                        const selected_row = case_data_table.row({selected: true}).data();
                        const case_id = selected_row.case_id;
                        showCaseInformation(case_id);                        
                    }
                },                
                {
                    text: '<i class="fa-solid fa-sync"></i>',
                    titleAttr: 'Refresh',
                    action: function (e, dt, node, config) {
                        case_data_table.ajax.reload();
                    }
                },                
                {% endif %}
                {
                    extend: 'spacer',
                    style: 'empty'
                },
                {
                    extend: 'spacer',
                    style: 'empty'
                },
                {
                    text: '<i class="fa-solid fa-upload"></i>',
                    titleAttr: 'Upload case',
                    action: function (e, dt, node, config) {
                        alert("Coming soon!");
                    }
                },
                {
                    text: '<i class="fa-solid fa-floppy-disk"></i>',
                    titleAttr: 'Download case',
                    action: function (e, dt, node, config) {
                        alert("Coming soon!");
                    }
                },
            ],
            initComplete: () => { 
                $('#casetable').on('draw.dt', function() {
                    $('.selecttags').select2({tags: "true", width: "20em"});
                });                
                $("#tablewrapper").show();
                
            }
        });

        $('#casetable tbody').on( 'dblclick', 'tr', function () {
            const tr = $(this).closest('tr');
            const selected_row = case_data_table.row(tr).data();
            const case_id = selected_row.case_id;                                            
            const link = '/viewer/'+case_id
            window.open(link, "_self");
        });
        
        $('#casetable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                case_data_table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
        
    } );
    
</script>

{% endblock %}

