<div class="modal" id="tags_selection_modal" role="dialog" style="overflow:hidden;" data-mdb-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tag Case</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="case_id" name="case_id">
                <p class="mb-2">Select from existing or add new tags:</p>
                <select class="form-control tags_select2" multiple="multiple" id="select_tags">
                </select>                               
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_ok" onclick="updateCaseTags();" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>

$(document).ready(function() {
    $('.modal .tags_select2').select2({
        tags: true,
        width: '100%',
        dropdownParent: $('#tags_selection_modal')
    });
});

// Retrieves that information for the given case from the server and shows a modal popup window with
// the information
async function showTagsDialog(case_id) {
    try { 
        const data = await doFetch(`/api/${case_id}/tags`, {},"GET")
        displayTagsInformation(case_id, data.case_tags, data.tags);
    } catch (e){
        await errorPrompt("Unable to find tag information.")
        console.error(e);
    }
}

// Renders the retrieved JSON information in modal window and displays it 
function displayTagsInformation(case_id, case_tags, all_tags) {
    const case_id_el = document.getElementById("case_id");
    case_id_el.innerText = case_id;
    let tag_select = $('.tags_select2');  

    $('.tags_select2').empty().trigger('change');

    for (const tag of case_tags) {
        // create an option and append to tags_select2
        let option = new Option(tag, tag, true, true);
        tag_select.append(option).trigger('change');
    }

    // tags that do not currently belong to the case, but need to be made available to select
    let other_tags = all_tags.filter(x => !case_tags.includes(x));
    for (const tag of other_tags) {
        // create the option and append to Select2
        let option = new Option(tag, tag, false, false);
        tag_select.append(option);
    }    

    // Display the modal window
    const el = document.getElementById('tags_selection_modal');
    const modal = new mdb.Modal(el);
    modal.show();
}

async function updateCaseTags() {
    const selected = $('.tags_select2').find(':selected');
    const case_id = document.getElementById("case_id").innerText;
    const tags = [];
    for (let i = 0; i < selected.length; i++) {
        tags.push(selected[i].text);
    }
    try {
        await doFetch(`/api/case/${case_id}/update_case_tags/`,({tags: tags}))
        $('#casetable').DataTable().ajax.reload();
        $('#tags_selection_modal').modal('hide');
    } catch (e) {
        errorPrompt(e);
    }
}

</script>
