<div class="modal" id="case_details_modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Case Details</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Patient Name:</td>
                            <td><span class="patient_info" id="case_details_patient_name">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>MRN:</td>
                            <td><span class="patient_info" id="case_details_mrn">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>ACC:</td>
                            <td><span class="patient_info" id="case_details_acc">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Number of Spokes:</td>
                            <td><span id="case_details_num_spokes">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Case Type:</td>
                            <td><span id="case_details_case_type">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Exam Time:</td>
                            <td><span class="patient_info" id="case_details_exam_time">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Receive Time:</td>
                            <td><span class="patient_info" id="case_details_receive_time">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><span id="case_details_status">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Twix ID:</td>
                            <td><span id="case_details_twix_id">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Case Location:</td>
                            <td><span class="patient_info" id="case_details_case_location">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Viewed by:</td>
                            <td><span id="case_details_viewed_by_id">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Last Read by:</td>
                            <td><span id="case_details_last_read_by_id">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Settings:</td>
                            <td><span id="case_details_settings">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Case ID:</td>
                            <td><span class="patient_info" id="case_details_case_id">&nbsp;</span></td>
                        </tr>
                    </tbody>
                </table>         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

// Retrieves that information for the given case from the server and shows a modal popup window with
// the information
async function showCaseInformation(case_id) {
    try {
        const result = await doFetch('/browser/get_case/'+case_id)
        displayReceivedCaseInformation(result);
    } catch(e) {
        console.error(e);
        await errorPrompt("Unable to find case information.")
    }
}

// Renders the retrieved JSON information in modal window and displays it 
function displayReceivedCaseInformation(caseData) {
    function display_field(id, value) {
        // Pass data to UI elements and provide default value in case entry is missing in provided JSON object
        document.getElementById("case_details_"+id).innerText = (value || caseData[id]) || "Missing";
    }
    for ( const id of ["case_id","patient_name","mrn","acc","num_spokes","case_type","exam_time","receive_time","status","twix_id","case_location","viewed_by_id","last_read_by_id"]) {
        display_field(id)
    }
    display_field("settings", JSON.stringify(caseData.settings, null, 4)  || "{}");
    
    // Display the modal window
    const myModalEl = document.getElementById('case_details_modal');
    const modal = new mdb.Modal(myModalEl);
    modal.show();
}

</script>
