<div class="modal fade" id="tags_selection_modal" role="dialog" style="overflow:hidden;">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add tags to the selected case.</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="case_id" name="case_id">
                Select from available tags or type in a new one:
                <select class="form-control tags_select2" multiple="multiple" id="select_tags" style="color: black">
                </select>                               
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_ok" onclick="updateCaseTags();" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>

$(document).ready(function() {
    $('.modal .tags_select2').select2({
        tags: true,
        width: '100%',
        templateResult: function (data, container) {
            $(container).css("color", "black");
            return data.text;
        },
        templateSelection: function (data, container) {
            $(container).css("color", "black");
            return data.text;
        },
        dropdownParent: $('.modal')
    });
});

// Retrieves that information for the given case from the server and shows a modal popup window with
// the information
function showTagsDialog(case_id) {
    let retrieve_tags = $.ajax({ 
        type: 'GET',
        dataType: "json",
        url: '/browser/get_case_tags_and_all_tags/'+case_id,
        async: true,
        error: function () {
            // Show error if the data cannot be read from server
            Swal.fire(
                'Error',
                'Unable to find case information.',
                'error'
            )
        },
        success: function(result) {},
        timeout: 3000                    
    });
    $.when( retrieve_tags ).done(function( data ) {
        displayTagsInformation(case_id, data.case_tags, data.tags);
    });
}

// Renders the retrieved JSON information in modal window and displays it 
function displayTagsInformation(case_id, case_tags, all_tags) {
    const case_id_el = document.getElementById("case_id");
    case_id_el.innerText = case_id;
    let tag_select = $('.tags_select2');  

    $('.tags_select2').empty().trigger('change');

    for (const tag of case_tags) {
        // create an option and append to tags_select2
        let option = new Option(tag, tag, true, true);
        tag_select.append(option).trigger('change');
    }

    // tags that do not currently belong to the case, but need to be made available to select
    let other_tags = all_tags.filter(x => !case_tags.includes(x));
    for (const tag of other_tags) {
        // create the option and append to Select2
        let option = new Option(tag, tag, false, false);
        tag_select.append(option);
    }    

    // Display the modal window
    const myModalElement = document.getElementById('tags_selection_modal');
    const modal = new mdb.Modal(myModalElement);
    modal.show();
}

async function updateCaseTags() {
    const selected = $('.tags_select2').find(':selected');
    const case_id = document.getElementById("case_id").innerText;
    const tags = [];
    for (let i = 0; i < selected.length; i++) {
        tags.push(selected[i].text);
    }
    const response = await sendData({tags: tags, case_id: case_id})
    if(response.ok) {
        // window.location.reload();
        $('#casetable').DataTable().ajax.reload();
        $('#tags_selection_modal').modal('hide');
    }
    else {
        await Swal.fire(
            'Error',
                await response.text(),
            'error'
        )
    };   
}

// after tags are updated in the dialog, need to update the database
async function sendData(data){
  return await fetch('/update_case_tags/', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}',
    },
    body: JSON.stringify(data)
  });
}

</script>
