<div class="modal" id="case_details_modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Case Details</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Patient Name:</td>
                            <td><span class="patient_info" id="case_details_patient_name">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>MRN:</td>
                            <td><span class="patient_info" id="case_details_mrn">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>ACC:</td>
                            <td><span class="patient_info" id="case_details_acc">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Number of Spokes:</td>
                            <td><span id="case_details_num_spokes">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Case Type:</td>
                            <td><span id="case_details_case_type">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Exam Time:</td>
                            <td><span class="patient_info" id="case_details_exam_time">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Receive Time:</td>
                            <td><span class="patient_info" id="case_details_receive_time">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><span id="case_details_status">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Twix ID:</td>
                            <td><span id="case_details_twix_id">&nbsp;</span></td>
                        </tr>
                        {% if user.is_staff %}
                        <tr>
                            <td>Case Location:</td>
                            <td><span class="patient_info" id="case_details_case_location">&nbsp;</span></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Viewed by:</td>
                            <td><span id="case_details_viewed_by_id">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Last Read by:</td>
                            <td><span id="case_details_last_read_by_id">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Settings:</td>
                            <td><span id="case_details_settings">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <td>Case ID:</td>
                            <td><span class="patient_info" id="case_details_case_id">&nbsp;</span></td>
                        </tr>
                        {% if user.is_staff %}
                        <tr>
                            <td>Logs</td>
                            <td><div id="case_details_logs"></div></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>         
                <div>
                <h2 id="case_details_logview_title"></h2>
                <pre class="selectable" style="width:100%; max-height:60vh; overflow-x: auto !important; white-space: pre-wrap !important;" id="case_details_logview"></pre>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

// Retrieves that information for the given case from the server and shows a modal popup window with
// the information
async function showLog(title, log) {
    let result = await doFetch(log, {}, "GET", true)
    const el = document.getElementById("case_details_logview");
    if ( result.trim() == "" ) {
        result = "Log is empty."
    }

    let lines = result.split("\n")
    let module_output = false
    for (var i=0; i<lines.length;i++) {
        // Strip ANSI codes that we can't display anyway 
        // https://stackoverflow.com/a/29497680/1525075
        lines[i] = lines[i].replace(
    /[\u001b\u009b][[()#;?]*(?:[0-9]{1,4}(?:;[0-9]{0,4})*)?[0-9A-ORZcf-nqry=><]/g, '')

        if (lines[i].indexOf("MODULE OUTPUT - BEGIN") > -1) {
            module_output = true;
        }
        if (lines[i].indexOf("MODULE OUTPUT - END") > -1) {
            module_output = false;
        }
        if (module_output) {
            lines[i] = lines[i].replace(
                /\W*?\| INFO\W*\| portal.jobs.docker_job:do_docker_job:[0-9]{1,3}\W*?/g,''
            )
            
        }
        // Remove everything before the last carriage return, to elide progress bars
        idx = lines[i].lastIndexOf("\r")
        if ( idx > -1 ) {
            lines[i] = lines[i].slice(idx+1);
        }
    }
    result = lines.join("\n")
    el.innerText = result;
    document.getElementById("case_details_logview_title").innerText = title;
}
async function showCaseInformation(case_id) {
    try {
        const result = await doFetch(`/api/case/${case_id}/`, {} , "GET")
        displayReceivedCaseInformation(result);

        const logs = await doFetch(`/api/case/${case_id}/logs`, {} , "GET")
        const p = (x) => {
            // return `<button class='badge text-light btn-primary' hx-get="/media/${x[1]}" hx-target="#case_details_logview">${x[0]}</button>`
            return `<button class='badge text-light btn-primary' onclick="showLog('${x[0]}', '/media/${x[1]}')">${x[0]}</button>`
        }
        const el = document.getElementById("case_details_logs");
        el.innerHTML = logs.logs.map(p).join(" ");
    } catch(e) {
        console.error(e);
        await errorPrompt("Unable to find case information.")
    }
}

// Renders the retrieved JSON information in modal window and displays it 
function displayReceivedCaseInformation(caseData) {
    function display_field(id, value) {
        // Pass data to UI elements and provide default value in case entry is missing in provided JSON object
        const el = document.getElementById("case_details_"+id)
        if (el) {
            el.innerText = (value || caseData[id]) || "Missing";
        }
    }
    for ( const id of ["case_id","patient_name","mrn","acc","num_spokes","case_type","exam_time","receive_time","status","twix_id","case_location","viewed_by_id","last_read_by_id"]) {
        display_field(id)
    }
    display_field("settings", JSON.stringify(caseData.settings, null, 4)  || "{}");
    
    // Display the modal window
    const myModalEl = document.getElementById('case_details_modal');
    const modal = new mdb.Modal(myModalEl);
    modal.show();
    onClose =  (e) => {
        document.getElementById("case_details_logview_title").innerText = ""
        document.getElementById("case_details_logview").innerText = ""
        myModalEl.removeEventListener('hidden.mdb.modal', onClose)
    }
    myModalEl.addEventListener('hidden.mdb.modal',onClose)
}

</script>
