{% extends 'base.html' %}

{% block body %}

<header class="mb-5">
    <nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark mb-4 shadow-2-strong">
        <div class="container-fluid">
            <a class="navbar-brand" style="margin-left: 10px;" href="#">
                <div class="d-flex align-items-center">
                    <i class="fas fa-cubes me-2 text-primary"></i>
                    <span class="h3 fw-bold mb-0 text-light">GRAVIS</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item menuitems-top">
                        <a class="nav-link {% if request.resolver_match.url_name == "index" %}active{% endif %}" aria-current="page" href="/"><i class="fas fa-th-list"></i>&nbsp;&nbsp;Browser</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle {% if request.resolver_match.url_name == "viewer" %}active{% endif %}"
                          href="/viewer"
                          id="navbarDropdownMenuLink"
                          role="button"
                          data-mdb-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <i class="fas fa-glasses"></i>&nbsp;&nbsp;Viewing
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li>
                            <a class="dropdown-item" href="/viewer/Patient_ABC">Patient ABC</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="/viewer/Patient_DEF">Patient DEF</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="/viewer/Patient_XYZ">Patient XYZ</a>
                          </li>
                        </ul>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item menuitems-top">
                        <a class="nav-link {% if request.resolver_match.url_name == "config" %}active{% endif %}" href="/config"><i class="fas fa-wrench"></i>&nbsp;&nbsp;Configuration</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/user" id="navbarDropdownMenuLink" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="fas {% if user.is_staff %}fa-user-shield{% else %}fa-user{% endif %}"></i>&nbsp;&nbsp;{{request.user.username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="/user"><i class="fas fa-cog"></i>&nbsp;&nbsp;Settings</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-1">
    <div class="container-fluid pt-4">
        <div class="maincontent px-4 mt-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>

{% endblock %}