{% extends 'portal.html' %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;User Settings</h2>        
    </div>
</div>

<script type="module">
    import { setCookie, getCookie } from "/static/js/utils.js";
    document.getElementById('privacy_mode').checked = getCookie('privacy_mode') == 1 ? true : false;
    function set_check() {
        const is_checked = document.getElementById('privacy_mode').checked; 
    }
    window.set_check = set_check;
</script>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="privacy_mode" onchange="set_check();" unchecked />
    <label class="form-check-label" for="privacy_mode">Privacy Mode</label>
</div>
   
{% endblock %}
