{% extends 'portal.html' %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;User Settings</h2>        
    </div>
</div>

<script type="module">
    async function set_check() {
        const is_checked = document.getElementById('privacy_mode').checked; 
        response = await fetch('/user_settings', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({'privacy_mode' : is_checked})
        })
                
        if(!response.ok) {
            await Swal.fire(
                'Error',
                await response.text(),
                'error'
            )
        } 
    }   
    window.set_check = set_check;
</script>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="privacy_mode" onchange="set_check();" 
    {% if privacy_mode %} 
        checked 
    {% endif %} />
    <label class="form-check-label" for="privacy_mode">Privacy Mode</label>
</div>
   
{% endblock %}
