{% extends 'portal.html' %}

{% block header %}
<script src="/static/js/dygraph.min.js"></script>
<link rel="stylesheet" href="/static/css/dygraph.min.css" />
{% endblock %}

{% block addedscripts %}
<script defer src="/static/js/cornerstone/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
<style>
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333!important;
    outline: none;
    outline-offset: 0;
}
</style>
{% endblock %}

{% block content %}
{{ studies|json_script:"studies_data" }}
<script type="text/javascript">
  const studies_data_parsed = JSON.parse(document.getElementById('studies_data').textContent);    
</script>
<div class="grid"
  x-data="{ viewer: null, previewing: false, previewingMIP: false, switching: false, loading: false, job_loading: null, case_id: {{case.id}} }" >
  <!-- dicom set selector -->
  <div class="toolbar-area">
  <!-- dicom set selection -->
  <div class="" style="margin-right: 2em; width: 100px;">
    <select id="studies" name="studies" autocomplete="off" class="selectpicker show-tick" value="" data-style="btn btn-outline-light btn-lg btn-rounded text-light btn-viewer-toolbar" data-width="100px"
    @change="loading=true; await $nextTick(); await viewer.switchStudy($event.target.value.split(':::'), case_id);  loading=false;" title="Displayed series">
      <!-- <option value="" selected disabled hidden>Select study...</option> -->
      <optgroup label="Displayed Series">
      {% for i in studies %}
      <option value="{{i.0}}:::{{i.1}}">{{ i.2 }}</option>
      {% endfor %}
      </optgroup>      
    </select>
  </div>    

  <!-- volume picker -->
  <!-- x-model="value" x-ref="input" x-on:focus="() => { $refs.input.focus() }"  -->
  <input id='volume-picker' tabindex='1' class="timeslider" title="Displayed time point" type='range' value=0 step="1" autocomplete="off" style="flex-grow:1;"
      @mouseup="previewing = false; previewingMIP = false; viewer.stopPreviewMIP($event.target.value);" 
      @mousedown="if (!previewingMIP) { await viewer.startPreviewMIP($event.target.value); previewingMIP = true; }; viewer.selected_time=viewer.current_study[$event.target.value].acquisition_seconds; viewer.setPreviewMIP($event.target.value);"    
      @input="if (!previewing) { await viewer.startPreview($event.target.value); previewing = true; }; viewer.selected_time=viewer.current_study[$event.target.value].acquisition_seconds; viewer.setPreview($event.target.value); viewer.setPreviewMIP($event.target.value);" 
      @change="switching = true; await viewer.switchToIndex($event.target.value); switching = false;"
      :disabled="!viewer || !viewer.current_study || loading || switching" disabled="disabled" 
      @keyup.left=""
      @keyup.right=""
      >
      </input>
      <label for='volume-picker' x-text="viewer && viewer.selected_time.toFixed(2) + 's'" style="min-width: 4em; text-align: right;"></label>
 
    <!-- Image manipulation buttons -->
    
      <button title="Reset viewers" class="all-pointer-events btn-primary btn-large btn-viewer ms-5" 
      :disabled="loading || switching" disabled="disabled" 
      @click="viewer.viewports.map(v=> {v.resetCamera(); v.render()}); viewer.renderingEngine.renderViewports(viewer.viewportIds);"><i class="fa-solid fa-arrows-to-circle"></i>
      </button>

      <!-- Annotations -->
      <div class=""  style="margin-left: 1.4rem;">
        <div class="dropdown">
          <button
            class="btn-primary btn-large btn-viewer"
            :disabled="loading || switching" disabled="disabled" 
            href="#"
            id="dropdownMenuLink"
            data-mdb-toggle="dropdown"
            aria-expanded="false",
            title="Select annotation"
          >
          <i class="fas fa-map-marker-alt"></i>
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <template x-show="!!viewer" x-for="uid in (viewer? Object.keys(viewer.annotation_manager.annotations) : [])" :key="uid">
              <li><a class="dropdown-item" @click="await viewer.annotation_manager.goToAnnotation(uid);" href="#" x-text="(viewer.annotation_manager.annotations[uid] || {}).label"></a></li>
            </template>               
          </ul>
        </div>    
      </div>
    
      <button title="Duplicate selected annotation" class="all-pointer-events btn-primary btn-large btn-viewer ms-2" 
          :disabled="!viewer || loading || switching" disabled="disabled" 
          @click="viewer.annotation_manager.duplicateSelectedAnnotation();"><i class="fa-solid fa-copy"></i>
      </button>
      <button title="Flip selected annotation" class="all-pointer-events btn-primary btn-large btn-viewer ms-2"
          :disabled="!viewer || loading || switching" disabled="disabled"
          @click="viewer.annotation_manager.flipSelectedAnnotations();">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-symmetry-vertical" viewBox="0 0 16 16">
          <path d="M7 2.5a.5.5 0 0 0-.939-.24l-6 11A.5.5 0 0 0 .5 14h6a.5.5 0 0 0 .5-.5v-11zm2.376-.484a.5.5 0 0 1 .563.245l6 11A.5.5 0 0 1 15.5 14h-6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .376-.484zM10 4.46V13h4.658L10 4.46z"/>
        </svg>
      </button>
      <div class="ms-2">
        <div class="dropdown">
          <button
            class="btn-primary btn-large btn-viewer"
            :disabled="loading || switching" disabled="disabled" 
            href="#"
            id="dropdownMenuLink"
            data-mdb-toggle="dropdown"
            aria-expanded="false",
            title="Delete annotation"
          >
          <i class="fa-solid fa-trash"></i>
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
            <a title="Delete selected annotation" href="#" class="dropdown-item" 
              :disabled="loading || switching"
              @click="viewer.annotation_manager.deleteSelectedAnnotations();">
              Delete Selected
            </a>
            </li>
            <li>
            <a title="Delete all annotations" :disabled="loading || switching" href="#" class="dropdown-item" 
                @click="viewer.annotation_manager.deleteAllAnnotations();">
                Delete All
            </a>    
            </li>
          </ul>
        </div>    
      </div>      
      <button title="Save session" class="all-pointer-events btn-primary btn-large btn-viewer" style="margin-left: 1.4rem;"
      :disabled="loading || switching " disabled="disabled" 
      @click="await viewer.state_manager.save(); $($refs.saved).fadeIn(50); $($refs.saved).fadeOut(800);"><i class="fa-solid fa-floppy-disk"></i>
      </button>

      <div class="flex ms-2" style="display: flex;">
        <div class="">
          <div class="dropdown">
            <button
              class="btn-primary btn-large btn-viewer"
              disabled="disabled"
              :disabled="!viewer || loading || switching"
              href="#"
              id="dropdownMenuLink"
              data-mdb-toggle="dropdown"
              aria-expanded="false",
              title="Select session"
            >
            <i class="fas fa-history"></i>
          </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <template x-show="!!viewer" x-for="session of (viewer? viewer.state_manager.session_list : [])" :key="session.id">
                <li><a class="dropdown-item" :class="viewer.state_manager.session_id == session.id ? { 'active': true, 'disabled': true} : {}" @click="viewer.state_manager.switchSession(session.id)" href="#" x-text="new Date(session.updated_at*1000).toLocaleString()"></a></li>
              </template>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" @click="viewer.state_manager.newSession()" href="#">New session</a></li>
            </ul>
          </div>    
        </div>


      <!-- Indicators -->
      <div class="ms-3" style="width:1.8em; height: 30px; margin-top: auto; margin-bottom: auto;">
        <div :class="(loading || switching || job_loading) || 'invisible'" class="spinner-grow spinner-grow-sm ms-2" role="status" style="position:absolute; z-index: 1; color: hsla(0,0%,100%,.2);  margin-top: 0.3em;">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div x-ref="saved" class="ms-2" role="status" style="display: none; position:absolute; color: hsla(128,70%,70%,.3);">
          <i class="fa-solid fa-floppy-disk"></i>
          <span class="visually-hidden">Saved</span>
        </div>
        <div x-ref="failed" class="ms-2" role="status" style="display: none; position:absolute; color: hsla(0,100%,50%,1);">
            <i class="fa-solid fa-xmark"></i>
            <span class="visually-hidden">Failed</span>
        </div>

      </div>
    </div> 
  </div>

  <div id="grasp-view-outer" class="grid-container h-100" style="width: 100%; grid-area: e; background-color: black;" >
    <div x-show="loading" style="z-index:10;" class="no-pointer-events grid-fill">
      <div style="display: flex;justify-content: center;align-items: center; height:100%"><div class="spinner-border" style="color: darkgray;" role="status"><span class="visually-hidden"></span></div>
      </div>
    </div>
    <div x-init="loading = true; await $nextTick();
      viewer = await new GraspViewer($refs.viewer_main, $refs.viewer_preview ); window.viewer = viewer; await viewer.switchStudy([studies_data_parsed[0][0], studies_data_parsed[0][1]], case_id); loading=false;" class="grid-fill grid-container h-100">
      <div x-ref="viewer_preview" class="grid-fill h-100" :style="{ 'z-index': (previewing || switching) ? 1 : 0 }"></div>
      <div x-ref="viewer_main" class="grid-fill h-100" :style="{ 'z-index': (previewing || switching) ? 0 : 1 }"></div>
    </div>

    <!-- AX/COR/SAG viewer -->
    <div class="no-pointer-events grid-fill" style="z-index:1;">
      <div class="viewer-grid">
        <template x-for="i in 3">
          <div class="viewport-overlay" :id="'viewport-overlay-'+i" :style="`grid-row: 1; grid-column: ${i}`">
            <!-- Note layout of buttons opening/closing to avoid undesired spaces between buttons -->
            <button title="Add ROI annotation" class="all-pointer-events btn-primary btn-large btn-viewer ms-2 my-2" 
                :disabled="!viewer || loading || switching" disabled="disabled" 
                @click="viewer.annotation_manager.addAnnotationToViewport('EllipticalROI',i-1);"><i class="fa-regular fa-circle"></i>
            </button><button
             title="Add probe annotation" class="all-pointer-events btn-primary btn-large btn-viewer ms-2 my-2" 
                :disabled="!viewer || loading || switching" disabled="disabled" 
                @click="viewer.annotation_manager.addAnnotationToViewport('Probe',i-1);"><i class="fa-solid fa-plus"></i>
            </button><button
             title="Reset viewer" class="all-pointer-events btn-primary btn-large btn-viewer ms-2 my-2"
              :disabled="!viewer || loading || switching" disabled="disabled" 
                @click="viewer.viewports[i-1].setZoom(1); viewer.viewports[i-1].setPan([0,0]); viewer.renderingEngine.renderViewports(viewer.viewportIds);"><i class="fa-solid fa-magnifying-glass-minus"></i>
            </button><button
             title="Store finding" class="all-pointer-events btn-primary btn-large btn-viewer ms-2 my-2"
              :disabled="!viewer || loading || switching" disabled="disabled" 
                @click="viewer.storeFinding(viewer.viewports[i-1]);"><i class="fa-solid fa-camera"></i>
            </button>            
            <template x-if="viewer && viewer.getNativeViewports().indexOf(viewer.viewports[i-1].id) > -1">
              <div class="viewer-label-native" style="margin-left: 0.5rem;">
                Native
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>     
  </div>

  <!-- MIP viewer -->
  <div id="aux-container-outer" class="grid-container mb-2" style="grid-area: d; background-color: black;"> 
    <div id="aux-container" class="grid-fill"></div>   
    <div x-cloak x-show="true" class="viewport-overlay grid-fill p-2 no-pointer-events" style="z-index: 1;">
      <button
      title="Store finding" class="all-pointer-events btn-primary btn-large btn-viewer"
        :disabled="loading || switching" disabled="disabled"
        @click="viewer.storeFinding(viewer.renderingEngine.getViewport('VIEW_AUX'));"><i class="fa-solid fa-camera"></i>
      </button>
    </div>   
  </div>

  <!-- Chart -->
  <div style="grid-area: f; background-color: black; " class="mb-2 py-3">
    <div id="chart" style="background-color: black; color: white;">
    </div>
  </div>
  <div style="grid-area: f">
    <template x-if="viewer">    
      <div style="text-align:right; position:relative;">
        <select class="curve-settings-select" x-model="viewer.chart_options['adjust']" @change="viewer.annotation_manager.updateChart()">
          <option value="normal" autocomplete="off" selected>normal</option>
          <option value="zeroed">zeroed</option>
          <option value="normalized">normalized</option>
        </select>
        <select style="width:100px;" class="curve-settings-select" x-model="viewer.chart_options['mode']" @change="viewer.annotation_manager.updateChart()">
          <option value="mean" autocomplete="off" selected>mean</option>
          <option value="median">median</option>
          <option value="ptp">ptp</option>
        </select>
      </div>    
    </template>
  </div>
   
  <!-- Findings -->
  <div id="findings" class="findings">
    <button title="" id="findings_expander" style="position: absolute; background-color: transparent;" class="btn-dark btn-large btn-viewer" 
    @click="document.getElementById('findings').classList.toggle('open');">
    </button>
    <div class="findings-inner"> 
      <template x-for="finding in viewer? viewer.findings : []" :key="finding.id">
      <div class="mb-2 img-thumbnail" style="background-color: #000; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);  ">
        <div style="float:right;">       
          <button title="Go to finding" class="btn-dark btn-large btn-viewer me-2 my-2"
          @click="loading = true; await viewer.goToFinding(finding); loading = false;"><i class="fa-solid fa-map-marker-alt"></i>
          </button><button title="Rename" class="btn-dark btn-large btn-viewer me-2 my-2"
          @click="await viewer.renameFinding(finding);"><i class="fa-solid fa-pencil"></i>
          </button><button title="Delete" class="btn-dark btn-large btn-viewer me-2 my-2"
          @click="await viewer.deleteFinding(finding.id);"><i class="fa-solid fa-trash"></i></button>
        </div>
        <img class="mb-2 img-fluid" :src="finding.url" width="100%"/>
        <div x-text="finding.name" class="text-expand"></div>
      </template>
    <template x-if="viewer && viewer.findings && (Object.keys(viewer.findings).length > 0)">
      <div class="mb-2">
      <button title="Store findings in PACS" class="all-pointer-events btn-large btn-primary btn-viewer py-2 px-3 mt-3 mb-3" style="display: block; margin-left: auto; margin-right: auto; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);"
      :disabled="loading || switching" disabled="disabled"
      @click="job_loading = true; success = await viewer.transferFindings(); job_loading = false; ref= success? $refs.saved : $refs.failed; $(ref).fadeIn(50); $(ref).fadeOut(1000);">
      <i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Send
      </button>  
    </div>
    </template>    
  </div>
</div>
</div>

{% include "modal_case_information.html" %}

<div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasShortcuts" data-mdb-scroll="true"
data-mdb-backdrop="false" style="background-color: #1266f1;">
<div class="offcanvas-header">
  <h4 class="offcanvas-title" id="offcanvasExampleLabel">Keyboard Shortcuts</h4>
  <button type="button" class="btn-close text-reset" data-mdb-dismiss="offcanvas" aria-label="Close"></button>
</div>
  <div class="offcanvas-body">
    <div>
      <h5 class="mb-3"><strong>Viewers</strong></h5>
      <table>
        <tr><td><strong>Scrolling</strong></td><td>&minus; mouse wheel</td></tr>
        <tr><td><strong>Windowing</strong></td><td>&minus; CTRL + left button</td></tr>
        <tr><td><strong>Panning</strong></td><td>&minus; ALT + left button</td></tr>
        <tr><td><strong>Zooming</strong></td><td>&minus; ALT + right button</td></tr>
        <tr><td><strong>Centering</strong></td><td>&minus; SHIFT + left button</td></tr>
        <tr><td><strong>Fullscreen</strong></td><td>&minus; double click</td></tr>
      </table>
    </div>
  </div>
</div>


<script defer type="module">
  import { GraspViewer, doJob } from "/static/js/viewer.js"
  import { doFetch } from "/static/js/utils.js"
  window.GraspViewer = GraspViewer;
  window.doJob = doJob;
  window.doFetch = doFetch;
  </script>

<script>
  function closeCurrentCase() {
    Swal.fire({
      title: 'Are you sure?',
      text: "Unsaved findings will be lost.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#1266f1',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Close'
    }).then((result) => {
      if (result.isConfirmed) {
        // TODO
      }
    })    
  }
</script>

{% endblock %}
