{% extends 'portal.html' %}

{% block addedscripts %}
<script defer src="/static/js/cornerstone/bundle.js"></script>
{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col">
    <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;Viewing: {{case}}</h2>
  </div>
</div>


<form method="post" hx-post="/wado/populate-instances" _="
def swap(attr1, attr2)
    add .{attr1}
    remove .{attr2}
end
on htmx:afterRequest 
    if detail.successful then 
      call location.reload()
    else put 'Error!' into me
        swap('btn-danger','btn-primary')
        call Swal.fire({title: 'Error', text:detail.xhr.responseText})">{% csrf_token %}
  <button class='btn btn-primary mb-3'>Populate</button>
</form>

<div class="w-25">
<div class="">
  <div class="select-wrapper">
    <select autocomplete="off" class="form-control" name="series" id="series" value="" onchange="pickSeries(event)">
      <option value="" selected disabled hidden>Select series...</option>
      {% for i in series %}
          <option value="{{i.0}}:::{{i.1}}">{{ i.2 }}</option>
      {% endfor %}
    </select>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 0px;"></div><div class="form-notch-trailing"></div></div>
  </div>
</div>
</div>


<div class="w-25">
  <div class="">
    <div class="select-wrapper">
      <select autocomplete="off" class="form-control" name="series" id="series" value="" onchange="pickStudy(event)">
        <option value="" selected disabled hidden>Select study...</option>
        {% for i in studies %}
            <option value="{{i.0}}">{{ i.1 }}</option>
        {% endfor %}
      </select>
      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 0px;"></div><div class="form-notch-trailing"></div></div>
    </div>
  </div>
  </div>

<div id="content"></div>
<input id='volume-picker' step="1" type='range' onchange="setGraspFrame(event)"></input>

<script defer src="/static/js/viewer.js"></script>
<script type="text/javascript">
  function pickSeries(evt) {
    if (evt.target.value == "") {
      return;
    }
    values = evt.target.value.split(":::")
    studyUID = values[0]
    seriesUID = values[1]
    setVolumeBySeries(studyUID, seriesUID)
  }

  function pickStudy(evt) {
    if (evt.target.value == "") {
      return;
    }
    studyUID = evt.target.value;
    setVolumeByStudy(studyUID)
  }


  window.onload = async function () {
    // 
  }
</script>
{% endblock %}