{% extends 'portal.html' %}

{% block addedscripts %}
<script defer src="/static/js/cornerstone/bundle.js"></script>
{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col">
    <h2><i class="fas fa-angle-double-right text-primary text-primary"></i>&nbsp;&nbsp;Viewing: {{case}}</h2>
  </div>
</div>


{% comment %} <form method="post" hx-post="/wado/populate-instances" _="
def swap(attr1, attr2)
    add .{attr1}
    remove .{attr2}
end
on htmx:afterRequest 
    if detail.successful then 
      call location.reload()
    else put 'Error!' into me
        swap('btn-danger','btn-primary')
        call Swal.fire({title: 'Error', text:detail.xhr.responseText})">{% csrf_token %}
  <button class='btn btn-primary mb-3'>Populate</button>
</form> {% endcomment %}
{% comment %} 
<div class="w-25">
<div class="">
  <div class="select-wrapper">
    <select autocomplete="off" class="form-control" name="series" id="series" value="" onchange="pickSeries(event)">
      <option value="" selected disabled hidden>Select series...</option>
      {% for i in series %}
          <option value="{{i.0}}:::{{i.1}}">{{ i.2 }}</option>
      {% endfor %}
    </select>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 0px;"></div><div class="form-notch-trailing"></div></div>
  </div>
</div>
</div> {% endcomment %}


<div x-data="{ current_study: null, current_time: 0, index: 0, loading: false, job_loading: null, case_id: {{case.id}} }">
  <div class="w-25">
    <div class="">
      <div class="select-wrapper">
        <select autocomplete="off" class="form-control" name="series" id="series" value="" 
          @change="loading=true; await $nextTick(); current_study = await setVolumeByStudy($event.target.value); current_time=current_study[0].time; loading=false;">
          <option value="" selected disabled hidden>Select study...</option>
          {% for i in studies %}
              <option value="{{i.0}}">{{ i.0 }}</option>
          {% endfor %}
        </select>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 0px;"></div><div class="form-notch-trailing"></div></div>
      </div>
    </div>
  </div>

  <div x-cloak id="grasp-view-outer" style="display:grid; grid-template-columns: 1fr; grid-template-rows: 1fr;">
    <div x-show="loading" style="z-index:1; grid-area: 1 / 1 / 2 / 2;" class="pointer-events-none">
      <div style="display: flex;justify-content: center;align-items: center; height:100%">Loading...</div>
    </div>
    <div x-init="initializeGraspViewer($el)" style="grid-area: 1 / 1 / 2 / 2;">
    </div>

    <div x-show="!!current_study" class="pointer-events-none" style="z-index:1; grid-area: 1 / 1 / 2 / 2;">
      <div style='display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; height:100%'>

        <template x-for="i in 3">
          <div>
            <button style="pointer-events: auto" class="btn-primary btn-large m-2" @click="job_loading = testGetSlice(i-1, case_id);">Click me</button>
          </div>
        </template>
       
      </div>
    </div> 

    <div x-show="!!current_study" x-data="{ selected_time:0 }"> 
      <div style="display: flex;">
        <input id='volume-picker' type='range' value=0 step="1" autocomplete="off" style="flex-grow:1;"
          @input="index = $event.target.value; selected_time=current_study[index].time"
          @change="await setGraspVolume(current_study[index]); current_time=selected_time;"></input>
        <label for='volume-picker' x-text="selected_time.toFixed(2) + 's'" style="min-width: 4em; text-align: right;"></label>
      </div>
    </div>
  </div>
</div>
<script defer src="/static/js/viewer.js"></script>
<script type="text/javascript">
  function pickSeries(evt) {
    if (evt.target.value == "") {
      return;
    }
    values = evt.target.value.split(":::")
    studyUID = values[0]
    seriesUID = values[1]
    setVolumeBySeries(studyUID, seriesUID)
  }

  function pickStudy(evt) {
    if (evt.target.value == "") {
      return;
    }
    studyUID = evt.target.value;
    setVolumeByStudy(studyUID)
  }


  window.onload = async function () {
    // 
  }
</script>
{% endblock %}
