{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
      <div class="form-outline mb-4">
        <input type="password" id="id_old_password" class="form-control form-control-lg {% if form.old_password.errors %}is-invalid{%endif%}" autofocus required
        type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" autocompleted=""/>
        <label class="form-label" for="id_old_password">Old password</label>
    </div>
    <div style="color:#f93154; font-size:0.875rem; margin-top:-1em">{{ form.old_password.errors}}</div>

      <div class="form-outline mb-4">
        <input type="password" id="id_new_password" class="form-control form-control-lg {% if form.new_password.errors %}is-invalid{%endif%}" autofocus required
        type="password" name="new_password" autocomplete="new-password" autofocus="" required="" id="id_new_password" autocompleted=""/>
        <label class="form-label" for="id_new_password">New password</label>
    </div>
    <div style="color:#f93154; font-size:0.875rem; margin-top:-1em">{{ form.new_password.errors}}</div>

    <div class="form-outline mb-4">
        <input type="password" id="id_new_password2" class="form-control form-control-lg {% if form.new_password2.errors %}is-invalid{%endif%}" autofocus required
        type="password" name="new_password2" autocomplete="new-password" autofocus="" required="" id="id_new_password2" autocompleted=""/>
        <label class="form-label" for="id_new_password2">New password confirmation</label>
    </div>
    <div style="color:#f93154; font-size:0.875rem; margin-top:-1em">{{ form.new_password2.errors}}</div>

    <div class="pt-1">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Change password</button>
    </div>
  
</form>
{% endblock %}


{# This is used by django.contrib.auth #}