{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <input type="email" id="id_email" class="form-control form-control-lg {% if form.email.errors %}is-invalid{%endif%}" autofocus required
        type="password" name="email" autocomplete="email" autofocus="" required="" id="id_email" autocompleted=""/>
        <label class="form-label" for="id_email">Email</label>
    </div>
    <div style="color:#f93154; font-size:0.875rem; margin-top:-1em">{{ form.email.errors }}</div>
    <div class="pt-1">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Reset password</button>
    </div>
</form>
{% endblock %}


{# This is used by django.contrib.auth #}