[Unit]
Description=worker
Requires=gravis-gunicorn.socket redis.service
After=network.target

[Service]
User=gravis
Group=gravis
WorkingDirectory=/opt/gravis/app
ExecStart=/opt/gravis/venv/bin/python /opt/gravis/app/manage.py watcher

[Install]
WantedBy=multi-user.target
