{% extends 'base.html' %}

{% block body %}

<main class="vh-100 form-signin">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; border: 1px solid #888;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/static/login_background.jpg" alt="login form" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem; border-right: 1px solid #888;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <div class="d-flex align-items-center mb-3 pb-2">
                  <img src="/static/gravis_logo.png" width="56" style="margin-right: 0.7rem; margin-bottom: 2px;">                    
                  <span class="h1 fw-bold mb-0 text-light">GRAVIS</span>
                </div>

                <h5 class="fw-normal mb-4 pb-4  text-muted" style="letter-spacing: 1px;">Register your account</h5>

                <form id="register-form" method="POST">
                  {% csrf_token %}
                  <!-- {{ form}} -->
                  
                  <div class="form-outline mb-4">
                    <input type="text" id="id_username" class="form-control form-control-lg {% if form.username.errors %}is-invalid{%endif%}" autofocus required
                      id="id_username" name="username" autocomplete="username" maxlength="150" value="{{form.username.value}}">
                  </input>
                    <label class="form-label" for="id_username">Username</label>
                    <div class="invalid-feedback">{{ form.username.errors}}</div>
                </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="id_email" class="form-control form-control-lg {% if form.email.errors %}is-invalid{%endif%}" autofocus required
                      id="id_email" name="email" autocomplete="email" maxlength="254" value="{{form.email.value}}">
                      </input>
                    <label class="form-label" for="id_username">Email</label>
                    <div class="invalid-feedback">{{ form.email.errors}}</div>
                  </div>

                 <div class="form-outline mb-4">
                    <input type="password" id="id_password1" class="form-control form-control-lg {% if form.password1.errors %}is-invalid{%endif%}" required
                      id="id_password1" name="password1" autocomplete="new-password" />
                    <label class="form-label" for="id_password1">Password</label>
                    <div class="invalid-feedback">{{ form.password1.errors }}</div>
                </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="id_password2" class="form-control form-control-lg {% if form.password2.errors %}is-invalid{%endif%}" required
                      id="id_password2" name="password2" autocomplete="new-password" />
                    <label class="form-label" for="id_password2">Password confirmation</label>
                    <div class="invalid-feedback">{{ form.password2.errors }}</div>
                </div>
               
                {% for field in form %}
                <div style="color:white">
                    {% if field.errors %} 
                    <!-- {{ field.label_tag }} {{ field.errors }} -->
                    {% endif %}
                    <!-- {{ field.label_tag }} {{ field }} -->
                </div>
                {% endfor %}
                  <div class="pt-1">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                  </div>
                </form>
                <p class="mb-5 pb-lg-2"></p>
                <p class="small text-muted" style="text-align: center; position: absolute; bottom: 0px;">Version {{build_version}} &nbsp;&minus;&nbsp; © {% now 'Y' %} Center for
                  Biomedical Imaging</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}